{% extends "students/base.html" %}

{% block content %}
<form action="#" method="POST">
    <label for="subjid">Subjectid: </label>
    <input id="subjid" type="text" name ="subjid">
    <br>
    <label for="sdtid">Studentid: </label>
    <select name="sdtid" id="sdtid">
        {% if students %}
            <option value="{{students[0].studentid}}" selected>{{students[0].firstname+students[0].lastname}}</option>
                {% for student in students[1:] %}
                    <option value="{{student.studentid}}">{{student.firstname+student.lastname}}</option>
                {% endfor %}
        {% endif %}
    </select>
    <br>
    <label for="grade">Grade: </label>
    <input id="grade" type="text" name="grade">
    <br>
    <input type="submit">
    <input type="reset">   
</form>
{% endblock %}