<!DOCTYPE html>
<html>
    <div class="Deleting Student">
        <div class="callout-header">Callout Header</div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div class="callout-container">
            <p>You are about to delete a student, are you sure?</p>
            <p id="demo" onclick="deletefunction">Yes!</p>
            <script>
                function deletefunction() {
                  
                }
                </script>
            </div>
      </div>