{% extends "students/base.html" %}

{% block content %}
<form action="#" method="POST">      
    <input id="id" type="hidden" name ="id" value="{{student.studentid}}">
    <br>
    <label for="first">First Name: </label>      
    <input id="first" type="text" name ="first" value="{{student.firstname}}">
    <br>
    <label for="last">Last Name: </label>
    <input id="last" type="text" name="last" value="{{student.lastname}}">
    <br>
    <label for="birth">Birth Year: </label>
    <input id="birth" type="text" name="birth" value="{{student.birth_year}}">
    <br>
    <input type="submit">
    <input type="reset"> 
{% endblock %}