{% extends "students/base.html" %}
{% block content %}
    {% if students %}
        {% for student in students %}
            <div class="student_list_item">
                {{student}} <a href="/students/edit?id={{student.studentid}}"><img src="{{url_for('static', filename='images/edit-icon.png')}}" alt="Edit"></a>  <a href="/students/delete?id={{student.studentid}}"><img src="{{url_for('static', filename='images/delete-icon.png')}}" alt="Delete"></a><br>
            </div>
        {% endfor %} 

    {% else %}
        No existing students
    {% endif %}
{% endblock %}
